.button-container button {
    background: #006C92;
    color: white;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}