.user-card {
    width: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .user-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .back-icon {
    margin-right: 10px;
  }
  
  .user-title {
    text-transform: uppercase;
  }
  
  .user-content {
    padding: 15px;
  }
  
  .user-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .field-name {
    font-weight: bold;
    color: #333;
  }
  
  .field-value {
    font-weight: normal;
    color: #666;
  }
  
  .admin-field input {
    margin-left: 5px;
  }
  
  .user-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .edit-button, .delete-button, .submit-button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .submit-button {
    background-color: #28a745;
  }
  
  /* Ajoutez des médias queries si nécessaire pour la réactivité */
  